.form-group div[class*="-menu"][class*="css-"] {
  z-index: 2 !important;
}

.form-group div[class*="-menu"][class*="css-"] {
  z-index: 2 !important;
}

.form-group div[class*="-control"][class*="css-"] {
  border-radius: 0.25rem;
  min-height: 43px;
}

.form-group div[class*="-control"][class*="css-"]:hover {
  border-color: #00c5dc;
}

.form-group div[class*="-control"][class*="css-"]:before {
  border-color: #00c5dc;
}

.form-group div[class*="-multiValue"] div {
  font-size: 14px;
}