$height: 60px;
$width: 270px;
.select-dropdown__menu {
  width: 270px !important;
}

.select-dropdown__search {
  height: $height;
  display: table-cell;
  vertical-align: middle;
  width: $width;

  margin-top: 8px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
}

.select-dropdown__input {
    text-transform: capitalize;
}

.select-dropdown__button {
  height: $height;
  display: table-cell;
  vertical-align: middle;
  width: $width;
}

.select-dropdown__button span {
  width: 120px;
  display: inline-block;
  text-align: left;
}

.select-dropdown__menu-list {
  overflow-x: hidden;
}

.select-dropdown__menu-list::-webkit-scrollbar {
  display: none;
}

.select-dropdown__icon {
  position: relative;
  margin-left: 5px;
  top: 3px;
  font-size: 13px;
}