$product-header-height: 145px;

.widget_item {
  display: table;
  width: 100%;
}

.widget_item .widget_content {
  display: table-cell;
  vertical-align: top;
}

.widget_item .widget_content .widget_pic {
  display: table-cell;
  width: 5rem;
}

.widget_pic {
  border: 1px solid grey;
  border-radius: 5px;
  height: 120px;
  width: 120px!important;
}

.widget_item .widget_content .widget_section {
  display: table-cell;
  vertical-align: top;
  padding-left: 1.43rem;
}

.widget_item .widget_content .widget_pic img {
  width: 10rem;
}

.widget_item .widget_content .widget_pic img.product-image {
  padding: 10px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.fs-22 {
  font-size: 22px;
}

.product-header {
  position: fixed;
  left: 330px;
  right: 0;
  background-color: white;
  min-width: 700px;
  height: $product-header-height;
  z-index: 50
}

.semi-header {
  position: sticky;
  top: $product-header-height;
  background-color: white;
  z-index: 1;
  min-height: 82px
}

.product-label {
  max-width: 38vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.comp-widget__button {
  color: cornflowerblue;
}

.comp-widget__stat {
  width: 330px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15)

}

.comp-widget__stat .scroll {
  max-height: 99%;
  overflow: hidden;
  overflow-y: auto
}



