.transparent-window-content {
  position: absolute;
  width: 100%;
}

.window .m-portlet__body {
  width: 920px;
}

.mw-500 {
  max-width: 650px;
}

.transparent-window {
  background-color: rgba(255, 255, 255, .55);
}

.window {
  position: fixed;
  z-index: 450;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
}

.modal-cancel {
  position: absolute;
  left: 0;
  padding: 1.3rem !important;;
  padding-left: 2.3rem !important;;
}

.modal-ok {
  position: absolute;
  right: 0;
  padding: 1.3rem !important;;
  padding-right: 2.3rem !important;;
}

$modal-header-height: 90px;

.modal-header {
  height: $modal-header-height;
}

.window-from-content {
  position: relative !important;
  padding: 10vh 0;
}

.action-modal-cross {
  color: #212529;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.4rem;
}

.action-modal-content {
  position: relative;
  background-color: white;
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  min-height: 60vh;
}
