.sort-table {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sort-table::-webkit-scrollbar {
  display: none;
}

.sort-table__count div {
  height: 64px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.75rem;
  font-size: 17px;
}

/* Hide scrollbar for IE and Edge */
.sort-table {
  -ms-overflow-style: none;
  width: 100%;
}

.sort-table__icon {
  width: 10px;
}

.sortableHelper {
  display: table;
  vertical-align: middle;
  border: 1px solid #00c5dc;
  background-color: white;
}

.sortableHelper td {
  padding: 0 .75rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-weight: 400;
}

.sortableHelper td.v-align-center {
  min-width: 80px !important;
}

.sortableHelper {
   z-index: 9999;
}
