.react-tabs__tab-list {
  border-bottom: 1px solid #ebedf2;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: none;
  position: relative;
  list-style: none;
  //font-size: 1.1rem;
  text-transform: uppercase;
  padding: 12px 0;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: -1px;
}

.react-tabs__tab:hover {
  color: #00c5dc;
  background: #fff;
  border-bottom: 4px solid #00c5dc;
}

.react-tabs__tab--selected {
  color: #00c5dc;
  background: #fff;
  border-bottom: 4px solid #00c5dc;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
